.sum {
  color: #d1d0d0;

  letter-spacing: 0.2px;

  &__type {
    margin-right: 12px;

    color: #5e5e5e;

    font-size: 14px;
  }

  &__operand {
    color: #9cd0e0;
  }

  &__result {
    color: #aacea8;
  }

  &__comment {
    margin-left: 12px;
    color: #5e5e5e;
  }
}
