html {
  font-family: Arial, Helvetica, sans-serif;
}

.titleOfSum {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #8eb88c;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  border: 2px solid red;
}
