@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
  display: flex;
  align-items: center;

  background: linear-gradient(to left, #4b79a1, #283e51);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  margin: 0 auto;

  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: linear-gradient(to left, #457fca, #5691c8);
  width: 250px;
  height: 150px;
  gap: 10px;

  transition: transform 0.3s;
  
  &:hover {
    transform: scale(1.05);
  }
}

.calculated-paragraph {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 18px;

  color:#fff;
}