body {
  margin: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calculation {
  box-sizing: border-box;
  width: 80%;
  padding: 16px 40px;
  border-radius: 8px;
  border-left: 64px solid #272727;

  background-color: rgb(32, 32, 32);
}
